<div class="analytics-page">
  <div class="row">
    <div class="col-lg-6">
      <div class="bs-component">
        <div class="callout callout-top callout-primary-black-text idea-map">
          <div class="callout-header">
            <h3 class="stats-card-header-small">Progress Map</h3>
          </div>
          <div class="analytics-map-container">
            <div id="leafletmap" class="analytics-map-element"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <ul>
        <li *ngFor="let team of teams">
          <span> {{team.name}} </span>
          <span> {{team.steps}} </span>
          <span> {{team.funds}} </span>
        </li>
      </ul>
    </div>
  </div>
</div>