<div class="analytics-page">
  <div class="row">
    <div class="col-lg-6">
      <div class="bs-component">
        <div class="callout callout-top callout-primary-black-text idea-map">
          <div class="callout-header">
            <h3 class="stats-card-header-small">Progress Map</h3>
          </div>
          <div class="analytics-map-container">
            <div id="leafletmap" class="analytics-map-element"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <table class="table table-hover">
        <thead>
          <tr >
            <th>Team</th>
            <th>Steps</th>
            <th>Donations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams | orderBy: 'team.steps'">
            <td>{{team.name}} </td>
            <td>{{team.steps}}</td>
            <td>{{team.funds}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>