<div class="analytics-page">
  <div class="row">
    <div class="col-md-7">
      <div class="bs-component">
        <div class="callout callout-top callout-primary-black-text idea-map">
          <div class="callout-header">
            <h3 class="stats-card-header-small">Progress Map</h3>
          </div>
          <div class="analytics-map-container">
            <div id="leafletmap" class="analytics-map-element"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div id="table-wrapper">
        <div id="table-scroll">
          <table class="table table-hover">
            <thead>
              <tr >
                <th>#</th>
                <th>Team</th>
                <th>Steps</th>
                <th>Donations</th>
              </tr>
            </thead>
            <tbody style="height=1em">
              <tr *ngFor="let team of teamDataSorted; let i = index">
                <td [style.background-color] = "colourArray[i]">{{i + 1}} </td>
                <td>{{team.name}} </td>
                <td>{{team.steps}}</td>
                <td>{{team.funds}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
